version: '3.8'
services:
  frontend:
    build:
      context: ./frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - REACT_APP_API_URL=http://backend:8000

  backend:
    build:
      context: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app/backend  # Ensure the backend folder is correctly mapped
      - ./backend/data:/app/backend/data  # Explicitly map the data directory
    environment:
      - DATA_PATH=/app/backend/data/all_data.pickle  # Pass the correct data path
    depends_on:
      - frontend
